.card {
  background-color: var(--clr-secondary-300);
  color: var(--clr-primary-700);
  padding: 1rem;

  display: grid;
  grid-auto-flow: row;
  opacity: 0;
  border-left: 8px solid var(--clr-accent-700);

  transform: translateY(-10%);
  max-width: 1400px;
  margin-inline: auto;

  &--featured {
    border: 8px solid var(--clr-accent-700);
    grid-column: 1 / -1;
  }

  &__image-wrapper{
    height: 100%;

    > img{
      width: 100%;
    }
  }

  &__image-wrapper--featured {
    display: grid;
    grid-template-rows: 25% 1fr 25% 1fr 25%;

    > img {
      grid-column: 1/1;
      object-fit: cover;
    }

    > img:first-child {
      grid-row: 1/3;
      //   clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
    }
    > img:nth-child(2) {
      grid-row: 2/5;
      z-index: 2;
      clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
    }
    > img:last-child {
      grid-row: 4/5;
      //   clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    }
  }

  

  &__content {
    padding-top: 1rem;
    z-index: 0;
    display: flex;
    flex-direction: column;
    height:100%;
    &__title {
        font-size: 1.75rem;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2.6px;
        word-break: break-word;
    }
    &__description {
      letter-spacing: 0.875px;
      font-weight: 400;
      margin-block: 2rem;

      &__section {
        & h5 {
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          letter-spacing: 2.6px;
          font-size: 0.75rem;
          text-transform: uppercase;
          margin-top: 0;
        }
      }
    }
    &__description--extended {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: start;
      gap: 1rem;

      > .divider {
        height: 100%;
        width: 2px;
        background-color: var(--clr-primary-700);
      }
    }
    &__pricing {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;


      &__price {
        color: var(--clr-accent-700);
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: 0.875px;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .card {
    grid-template-rows: 5fr 4fr;
    align-items: center;

    &__content {
      &__description {
        max-width: 70ch;
        line-height: 1.75;
        &--extended {
          max-width: 100%;
        }
      }
    }
    &--featured {
      grid-template-rows: 1fr auto;

      .card__content__description:not(:has(>div)) {
        max-width: 75%;
        border-left: 2rem solid var(--clr-accent-700);
        padding-left:1rem;
        font-weight: 500;
      }
    }
    &__image-wrapper{
      > img{
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }
    &__image-wrapper--featured {
      grid-template-rows: auto;
      grid-template-columns: 25% 1fr 25% 1fr 25%;
      align-items: stretch;

      > img {
        max-height: 25rem;
        width: 100%;
      }

      > img:first-child {
        grid-row: 1/1;
        grid-column: 1/3;
        //   clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
      }
      > img:nth-child(2) {
        grid-row: 1/1;
        grid-column: 2/5;
        clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
      }
      > img:last-child {
        grid-row: 1/1;
        grid-column: 4/6;
        //   clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
      }
    }
  }
}
