.faq {
  margin: 8rem; // please change this :(
  color: var(--clr-primary-700);

  max-width: 1500px;
  margin-inline: auto;

  &__wrapper {
    padding: 2rem;
    margin-block: 3rem;
    position: relative;
    outline:4px solid color-mix(in srgb, var(--clr-primary-700), var(--clr-accent-800));
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      filter: blur(4px);
      background-image: url("../assets/faqbg.jpg");
      background-position: 60% 20%;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.6);
      background-blend-mode: darken;
      background-repeat: no-repeat;
    }
  }

  &__title {
    text-align: center;
    font-size: 3rem;
    color: var(--clr-secondary-300);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 2.6px;
    text-transform: uppercase;
  }

  &__accordion {
    margin-block: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    &__item {
      &__question {
        display: flex;
        justify-content: space-between;
        gap: 2rem; // for mobile min spacing
        align-items: center;
        font-size: 1.5rem;
        padding: 2rem;
        background-color: color-mix(
          in srgb,
          var(--clr-primary-700),
          var(--clr-accent-800)
        );
        color: var(--clr-secondary-300);
        cursor: pointer;
        transition: 300ms ease all;
        &__button {
          background: 0;
          padding: 0;
          margin: 0;
          border: 0;
          color: currentColor;
        }
      }
      &__question:hover {
        background-color: color-mix(
          in srgb,
          var(--clr-primary-700),
          var(--clr-accent-700)
        );
      }
      &__answer {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease;
        background-color: color-mix(
          in srgb,
          var(--clr-primary-700),
          var(--clr-accent-800)
        );
        color: var(--clr-secondary-300);
        border-top: 1px solid var(--clr-primary-700);
        padding-inline: 2rem;
        > p {
          padding: 0;
          overflow: hidden;
          transition: padding 0.5s ease;
          font-size: 1.25rem;
        }
      }
      &__answer.open {
        grid-template-rows: 1fr;
        > p {
          padding-block: 2rem;
        }
      }
    }
  }
}
.plusminus {
  width: 1rem;
  height: 1rem;
  position: relative;
  cursor: pointer;
  display: grid;
  place-items: center;
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: var(--clr-secondary-300);
    transition: 300ms ease all;
    transform-origin: center;
  }
  &::before {
    width: 1rem;
    height: 2px;
  }
  &::after {
    width: 2px;
    height: 1rem;
  }
  &.active {
    &::before,
    &::after {
      transform: rotate(-0.25turn);
    }
    &::before {
      opacity: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .faq__accordion {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
